<p><%= dasherize(name) %> works!</p>

<ng-container *ngIf="stateData$ | async as stateData">
    <ng-container [ngSwitch]="stateData.state">
        <% Object.keys(canLeaveTo).forEach((key) => { %>
        <ng-container *ngSwitchCase="<%= key %>">
            <h1><%= key %></h1>
        </ng-container>
        <%})%>
    </ng-container>
</ng-container>
